<table>
	<% var i; for(i = 0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td><a href="quizes/<%= quizes[i].id %>/edit"><button class="button">Editar</button></a></td>
			<td>
				<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" class="button" onClick="return confirm('¿Desea borrar la pregunta: \'<%= quizes[i].pregunta %>\' ?');">Borrar</button></a>
				</form>
			</td>
		</tr>
	<% } %>
	<tr>
		<td>
			<br /><br /><br />
			<form method="get" action="/quizes">
				<input type="text" name="search" />
				<input type="submit" class="button" value="Buscar" />
			</form>
		</td>
	</tr>
</table>
