<table>
	<% var i; for(i = 0; i < quizes.length; i++) { %>
		<tr>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<% if(session.user) { %>
				<td><a href="quizes/<%= quizes[i].id %>/edit"><button class="button">Editar</button></a></td>
				<td>
					<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" class="button" onClick="return confirm('¿Desea borrar la pregunta: \'<%= quizes[i].pregunta %>\' ?');">Borrar</button></a>
					</form>
				</td>
			<% } %>
		</tr>
	<% } %>
	<form method="get" action="/quizes">
		<tr>
			<td colspan="3">
				<br /><br /><br />
				<select name="idTema">
					<option value=""></option>
					<% var i; for(i = 0; i < temas.length; i++) { %>
						<option value="<%= temas[i].id %>"><%= temas[i].descripcion %></option>
					<% } %>
				</select>
				<input type="text" name="search" />
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<input type="submit" class="button" value="Buscar" />
			</td>
		</tr>
	</form>
</table>
